body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #78f5cd , #6f8df7);
}

h1 {
  text-align: center;
}

.profile-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
